* {
  box-sizing: border-box;
}
#root {
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
html, body {
  background: rgb(230, 230, 230);
  color: #011d2f;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  /* font-family: 'Press Start 2P', cursive; */
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 7em;
}

.start:hover {
    border: green solid 1px;
}
.start:focus {
    color: green;
}
.stop:hover {
    border: red solid 1px;
}
.stop:focus {
    color: red;
}


h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #a9d8fc;
  padding: 10px;
}
textarea:disabled {
  background: grey;
}
.buttons {
  display:flex;
}